.partners {

    &__wrapper {
        background: url("../../images/header/headerBg.png");
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        text-align: center;
    }

    &__title {
        font-size: 50px;
        color: #54AF3A;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 20px;
    }

    &__text {
        font-size: 16px;
        width: 912px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__btn {
        width: 180px;
        height: 40px;
        background-color: #54AF3A;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        color: #fff;
        margin: 0 auto;
        border-radius: 4px;
        cursor: pointer;
    }

    &__logo {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
            width: 300px;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 70%;
            }
        }
    }
}

@media(max-width:944px) {
    .partners__text {
        width: 100%;
    }
}

@media(max-width:836px) {
    .partners__logo-item {
        height: 100%;
    }
}

@media(max-width:570px) {
    .partners__logo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .partners__logo-item img {
        width: 50%;
    }
}

@media(max-width:456px) {
    .partners__title  {
        font-size: 35px;
    }

    .partners__text {
        font-size: 13px;
    }
}